@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>操作完成</title>
    <style>
        body {
            background-color: #0094ff;
            font-size: 14px;
        }

        h3 {
            font-size: 60px;
            color: #eee;
            text-align: center;
            padding-top: 50px;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <h3>@(string.IsNullOrEmpty(Model) ? "操作完成，请手动关闭页面！" : Model)</h3>
</body>
</html>
