<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="HtmlSanitizer" version="4.0.187" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Masuit.Tools" version="2.1.1" targetFramework="net45" developmentDependency="true" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net45" />
  <package id="MySql.Data.Entities" version="6.8.3.0" targetFramework="net45" />
  <package id="MySql.Data.Entity" version="6.9.12" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="Npgsql" version="2.2.7" targetFramework="net45" />
  <package id="Npgsql.EntityFramework" version="2.2.7" targetFramework="net45" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net45" />
  <package id="SQLite.CodeFirst" version="1.5.0.22" targetFramework="net45" />
  <package id="sqlSugar" version="4.8.1" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.2.4" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6.Migrations" version="1.0.104" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net45" />
</packages>