
@{
    ViewBag.Title = "用户中心";
    Layout = "~/Views/Shared/_SignalRLayout.cshtml";
}

<div class="contentArea" style="text-align:center;padding:20px">
    <ul class="userlist">
        <li class="clearfix">当前用户：</li>
        <li>
            <label class="clearfix">
                <img class="fl" src="~/upload/20160916023240.JPG">
                <div class="fl">
                    账号：20143821047<br>昵称：班纳
                </div>
            </label>
        </li>
    </ul>
</div>

