<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net45" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net45" />
  <package id="HtmlSanitizer" version="4.0.187" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Masuit.Tools" version="2.1.1" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="OfficeOpenXml.Extends" version="1.0.6.0" targetFramework="net45" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.2.4" targetFramework="net45" />
</packages>