<?xml version="1.0" encoding="utf-8"?>
<!-- 
	* ==============================================================================
	* 命名空间：Quick.Web
	* 类 名 称：db.config
	* 创 建 者：Qing
	* 创建时间：2018-05-28 15:54:52
	* CLR 版本：4.0.30319.42000
	* 保存的文件名：db.config
	* 文件版本：V1.0.0.0
	*
	* 功能描述：N/A 
	*
	* 修改历史：
	*
	*
	* ==============================================================================
	*         CopyRight @ 班纳工作室 2018. All rights reserved
	* ==============================================================================
-->
 <connectionStrings>
  <!--SQL SERVER 启用下面一行，注意数据库文件路径中使用了|DataDirectory|宏变量，该变量只在ASP.NET项目中有效-->
  <add name="MssqlDbContext" connectionString="Data Source=.;Initial Catalog=Qucik_V1.0;User Id=sa;Password=sa1994sa;connect Timeout=30" providerName="System.Data.SqlClient" />
  <!--<add name="MssqlDbContext" connectionString="Data Source=.;Initial Catalog=Qucik_V1.0;User Id=sa;Password=sa1994sa;AttachDBFilename=|DataDirectory|\Qucik_V1.0.mdf;connect Timeout=30" providerName="System.Data.SqlClient" />-->
 </connectionStrings>