<?xml version="1.0" encoding="utf-8"?>
<!-- 
	* ==============================================================================
	* 命名空间：Quick.Web
	* 类 名 称：db.config
	* 创 建 者：Qing
	* 创建时间：2018-05-28 15:54:52
	* CLR 版本：4.0.30319.42000
	* 保存的文件名：db.config
	* 文件版本：V1.0.0.0
	*
	* 功能描述：N/A 
	*
	* 修改历史：
	*
	*
	* ==============================================================================
	*         CopyRight @ 班纳工作室 2018. All rights reserved
	* ==============================================================================
-->
 <connectionStrings>
  <!--Access启用下面一行，可以试试使用DataDirectory目录： Provider=Microsoft.Jet.OLEDB.4.0;Data Source="|DataDirectory|\Database.mdb";Persist Security Info=True -->
  <add name="AccessDbContext" connectionString="Provider=Microsoft.ACE.OleDb.12.0;Data Source='C:\Quick_V1.0.mdb';Persist Security Info=False;" providerName="JetEntityFrameworkProvider" />
 </connectionStrings>