<?xml version="1.0" encoding="utf-8"?>
<!-- 
	* ==============================================================================
	* 命名空间：Quick.Web
	* 类 名 称：entityFramework.config
	* 创 建 者：Qing
	* 创建时间：2018-05-28 15:54:52
	* CLR 版本：4.0.30319.42000
	* 保存的文件名：entityFramework.config
	* 文件版本：V1.0.0.0
	*
	* 功能描述：N/A 
	*
	* 修改历史：
	*
	*
	* ==============================================================================
	*         CopyRight @ 班纳工作室 2018. All rights reserved
	* ==============================================================================
-->

 <!-- SQL Server配置 Start -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- SQL Server配置 End -->
