<?xml version="1.0" encoding="utf-8"?>
<!-- 
	* ==============================================================================
	* 命名空间：Quick.Core
	* 类 名 称：Unity.config
	* 创 建 者：Qing
	* 创建时间：2018-05-28 15:54:52
	* CLR 版本：4.0.30319.42000
	* 保存的文件名：Unity.config
	* 文件版本：V1.0.0.0
	*
	* 功能描述：N/A 
	*
	* 修改历史：
	*
	*
	* ==============================================================================
	*         CopyRight @ 班纳工作室 2018. All rights reserved
	* ==============================================================================
-->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practces/2010/unity">
    <assembly name="Quick.Data" />
    <namespace name="Quick.Data.IService" />
    <namespace name="Quick.Data.Service" />
    <namespace name="Quick.Data.IRepository" />
    <namespace name="Quick.Data.Repository" />
    <containers>
      <container name="defaultContainer">
        <!--<register type="Quick.Data.IRepository.ISysUserRepository, Quick.Data.IRepository" mapTo="Quick.Data.Repository.SysUserRepository, Quick.Data.Repository" />-->
		    <register type="ISysUserRepository" mapTo="SysUserRepository" />
      </container>
    </containers>
  </unity>
</configuration>