@helper HelperName(string name)
{
    // 你的帮助程序可以包含代码和/或标记，例如
    var msg = "你好 " + name;
     <p>@msg</p>
    // 有关详细信息，请访问 https://go.microsoft.com/fwlink/?LinkID=204658
}

@helper ShowOnlyDate(DateTime dt)
{
    @dt.ToString("yyyy-MM-dd");
}
